.vs/
MovieTicketBooking.DAL/obj/
MovieTicketBooking/obj/
MovieTicketBooking/bin/
MovieTicketBooking.DAL/bin/
.DS_Store
MovieTicketBooking.BLL/bin/
MovieTicketBooking.BLL/obj/
MovieTicketBooking - Frontend/node_modules/
